.footer {
    color: white;
    text-align: center;
    background-color: #ff4c4c;
    padding-top: 20px;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.author {
    text-decoration: none;
    color: rgb(231, 216, 216)
}

